body {
    background-image: url("../assets/earth.jpg");
    background-size: cover;
}


.heading {
    margin-top: 80px;
    font-size: 90px;
    text-align: center;
    color: white;
    animation: moveFromTop 3s ease-in-out ,  ease-in-out  5s;
}

#btn {
    padding: 15px 32px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.398);
    color: aliceblue;
    position: absolute;
    left: 42%;
    bottom: 15%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    animation: moveFromBottom 3s ease-in-out,  ease-in-out 5s;
}

@keyframes moveFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
